import asyncio
import logging
import sys

from db import create_tables_funcs
from handlers import routers
from loader import dp, bot, db_connector
from middlewares import UserMiddleware


async def main():
    for func in create_tables_funcs:
        await func(db_connector)

    await dp.start_polling(bot)


if __name__ == '__main__':
    for router in routers:
        router.message.middleware(UserMiddleware())

    dp.include_routers(*routers)

    logging.basicConfig(level=logging.INFO, stream=sys.stdout)
    asyncio.run(main())
