@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('@/assets/fonts/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



:root {
  --main-black: #14142B;
  --main-white: #FEFEFE;

  --primary: #5F2EEA;
  --primary-dark: #2A00A2;

  --body-text: #4E4B66;
  --light-gray: #EFF0F6;
  --placeholder: #A0A3BD;
  --gray-lines: #D9DBE9;

  --success-dark: #00966D;
  --success: #00BA88;
  --success-light: #F2FFFB;

  --error-dark: #C30052;
  --error: #ED2E7E;
  --error-light: #FFF3F8;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--main-white);
  font-family: 'Montserrat', sans-serif;
  color: var(--main-black);
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.page__content {
  margin-left: 120px;
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
    width: 702px;
  }

  .page__content {
    margin-left: 64px;
  }
}

/* @media (max-width: 320px) {
  .container {
    margin: 0 20px;
    width: 280px;
  }
} */