import aiogram.exceptions
from aiogram import types, filters, Router
from aiogram.fsm.context import FSMContext
from aiogram.fsm.state import StatesGroup, State

import config
from db import support as support_db
from db import base as base_db
from loader import db_connector, bot

router = Router()


@router.message(filters.StateFilter(None), filters.Command("support"))
async def send_support_request(message: types.Message, command: filters.CommandObject):
    if command.args is None:
        return await message.answer(
            "❗ Необходимо указать текст сообщения в тех.поддержку: /support [текст]"
        )

    if len(command.args) > 512:
        return await message.answer(
            "❗ Длина текста не должна превышать 512 символов!"
        )

    await support_db.create_support_request(
        db_connector=db_connector,
        question=command.args,
        tg_id=message.from_user.id
    )
    await message.answer("✅ Обращение в тех.поддержку успешно отправлено")


@router.message(filters.StateFilter(None), filters.Command("requests"))
async def get_opened_support_requests(message: types.Message):
    user = await base_db.get_user(db_connector, tg_id=message.from_user.id)
    if not user["is_admin"]:
        return

    support_requests = await support_db.get_open_support_requests(db_connector)

    if not support_requests:
        return await message.answer('❗ Нет открытых обращений в тех.поддержку!')

    string_support_requests = '\n\n'.join([
        f"ID {request['request_id']}: {request['question']}"
        for request in support_requests
    ])

    await message.answer(
        f"📑 Список приоритетных обращений в тех.поддержку\n\n"
        f"{string_support_requests}\n\n"
        "❗ Чтобы ответить на обращение введите: /answer [id обращения] [текст ответа]"
    )


@router.message(filters.StateFilter(None), filters.Command("answer"))
async def answer_to_support_request(message: types.Message, command: filters.CommandObject):
    user = await base_db.get_user(db_connector, tg_id=message.from_user.id)
    if not user["is_admin"]:
        return

    try:
        request_id, answer_text = command.args.split(" ", maxsplit=1)
    except (AttributeError, ValueError):
        return await message.answer(
            "❗ Необходимо указать id обращения и текст ответа: /answer [id обращения] [текст]"
        )

    support_request = await support_db.get_support_request(db_connector, request_id)
    if not support_request or support_request['answer']:
        return await message.answer("❗ Открытого обращения с указанным id не найдено!")

    if len(answer_text) > 1024:
        return await message.answer(
            "❗ Длина текста не должна превышать 1024 символов!"
        )

    await support_db.save_answer_from_support(
        db_connector=db_connector,
        request_id=request_id,
        answer=answer_text,
        support_id=message.from_user.id,
    )

    await bot.send_message(
        chat_id=support_request["tg_id"],
        text="❗ Пришел ответ от тех.поддержки:\n\n"
             f"<i>{answer_text}</i>"
    )
    await message.answer("✅ Ответ отправлен пользователю")


class OperatorState(StatesGroup):
    connect = State()


@router.message(filters.StateFilter(None), filters.Command("connect"))
async def connect_support_to_chat(
        message: types.Message,
        command: filters.CommandObject,
        state: FSMContext,
):
    user = await base_db.get_user(db_connector, tg_id=message.from_user.id)
    if not user["is_admin"]:
        return

    recipient_id = command.args
    if recipient_id is None:
        return await message.answer(
            "❗ Необходимо указать идентификатор пользователя, к чату с которым вы хотите подключиться: "
            "/connect [id пользователя]"
        )

    if not recipient_id.isdigit():
        return await message.answer(
            "❗ Необходимо указать число в качестве идентификатора пользователя!"
        )

    recipient = await base_db.get_user(db_connector, int(recipient_id))
    if recipient is None:
        return await message.answer(
            "❗ Пользователь с указанным идентификатором в чат-боте не найден!"
        )

    await state.set_state(OperatorState.connect)
    await state.update_data(recipient_id=recipient_id)
    await message.answer(
        "✅ Вы подключились к чату с пользователем. Теперь каждое ваше сообщение, отправленное чат-боту, "
        f"будет перенаправлено пользователю с идентификатором {recipient_id}\n\n"
        "❗ Чтобы отключиться от чата с пользователем, напишите /exit"
    )


@router.message(filters.StateFilter(OperatorState.connect))
async def chat_with_user(message: types.Message, state: FSMContext):
    if message.text == '/exit':
        await state.clear()
        return await message.answer('✅ Вы отключились от чата с пользователем!')

    data = await state.get_data()
    try:
        await bot.send_message(
            chat_id=data["recipient_id"],
            text=f"❗ Специалист тех.поддержки отправил вам сообщение:\n\n"
                 f"<i>{message.text}</i>"
        )
    except aiogram.exceptions.TelegramForbiddenError:
        await message.answer(
            "❗ Не удалось отправить сообщение указанному пользователю, т.к. пользователь заблокировал чат-бота\n\n"
            "✅ Вы были отключены от чата с этим пользователем"
        )
        await state.clear()


@router.message(filters.StateFilter(None), filters.Command('setadmin'))
async def set_admin(message: types.Message, command: filters.CommandObject,):
    user = await base_db.get_user(db_connector, tg_id=message.from_user.id)
    if not user["is_admin"]:
        return

    recipient_id = command.args
    if recipient_id is None:
        return await message.answer(
            "❗ Необходимо указать идентификатор пользователя, которого вы хотите назначить на должность администратора"
        )

    if not recipient_id.isdigit():
        return await message.answer(
            "❗ Необходимо указать число в качестве идентификатора пользователя!"
        )

    recipient = await base_db.get_user(db_connector, int(recipient_id))
    if recipient is None:
        return await message.answer(
            "❗ Пользователь с указанным идентификатором в чат-боте не найден!"
        )

    if recipient["is_admin"]:
        return await message.answer(
            "❗ Пользователь с указанным идентификатором уже является администратором!"
        )

    await support_db.set_admin(db_connector, int(recipient_id))
    await message.answer(f"✅ Вы выдали права администратора пользователю с идентификатором {recipient_id}!")
    try:
        await bot.send_message(
            chat_id=int(recipient_id),
            text=f"✅ Вам выдали права администратора!"
        )
    except aiogram.exceptions.TelegramForbiddenError:
        await message.answer(
            "❗ Не удалось отправить сообщение указанному пользователю, т.к. пользователь заблокировал чат-бота"
        )


@router.message(filters.StateFilter(None), filters.Command('unsetadmin'))
async def unset_admin(message: types.Message, command: filters.CommandObject,):
    user = await base_db.get_user(db_connector, tg_id=message.from_user.id)
    if not user["is_admin"]:
        return

    recipient_id = command.args
    if recipient_id is None:
        return await message.answer(
            "❗ Необходимо указать идентификатор пользователя, которого вы хотите снять с должности администратора"
        )

    if not recipient_id.isdigit():
        return await message.answer(
            "❗ Необходимо указать число в качестве идентификатора пользователя!"
        )

    recipient = await base_db.get_user(db_connector, int(recipient_id))
    if recipient is None:
        return await message.answer(
            "❗ Пользователь с указанным идентификатором в чат-боте не найден!"
        )

    if not recipient["is_admin"]:
        return await message.answer(
            "❗ Пользователь с указанным идентификатором не является администратором!"
        )

    if recipient_id == int(config.ADMIN_ID):
        return await message.answer(
            "❌ Нельзя разжаловать главного администратора!"
        )

    await support_db.unset_admin(db_connector, int(recipient_id))
    await message.answer(f"✅ Вы лишили прав администратора пользователя с идентификатором {recipient_id}!")
    try:
        await bot.send_message(
            chat_id=recipient_id,
            text=f"❌ Вас лишили прав администратора!"
        )
    except aiogram.exceptions.TelegramForbiddenError:
        await message.answer(
            "❗ Не удалось отправить сообщение указанному пользователю, т.к. пользователь заблокировал чат-бота"
        )
